.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    padding: $spacing-sm $spacing-xxs;
    background-image: url(/src/assets/images/hero/hero_background.webp);
    background-position: center;

    &__text {
        text-align: center;
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-xs;
    }
}

@media (min-width: $screen-md) {
    .hero {
        height: 70 * $spacing;
        max-height: calc(90svh - $header-height);
    }
}

@media (min-width: $screen-lg) {
    .hero {
        padding: $spacing-xl;
        &__text {
            width: 50%;
            min-width: 65 * $spacing;
        }
    }
}
