.offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        padding: $spacing-md $spacing-lg;
        max-width: 140 * $spacing;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-md;
        text-align: center;
    }
}

.offer-part {
    width: 100%;
    position: sticky;
    top: $header-height;
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    padding: $spacing-xl;
    padding-bottom: $spacing-md;
    background: $color-background;

    &__text {
        position: relative;
        max-width: 60ch;
        li {
            list-style-position: inside;

            &:not(:last-child) {
                margin-bottom: $spacing-xs;
            }
        }
    }

    &__title {
        margin-bottom: $spacing-xs;
        font-family: $aesthetic;
    }

    &__image {
        width: 42 * $spacing;
    }
}
