.footer {
    width: 100%;
    border-top: 2px solid $color-black;
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    padding: $spacing-xs;
    &__column {
        display: flex;
        flex-direction: column;
        gap: $spacing-xxs;
    }

    &__socials-wrapper {
        display: flex;
        gap: $spacing-xxs;
    }
}

@media (min-width: $screen-md) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: $screen-lg) {
    .footer {
        padding: $spacing-sm $spacing-xl;
    }
}
