.footer {
    width: 100%;
    border-top: 2px solid $color-black;
    display: flex;
    justify-content: space-between;
    padding: $spacing-sm $spacing-xl;
    &__column {
        display: flex;
        flex-direction: column;
        gap: $spacing-xxs;
    }

    &__socials-wrapper {
        display: flex;
        gap: $spacing-xxs;
    }
}
