.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xs;
    padding: $spacing-sm;
    padding-bottom: $spacing-md;
    background: $color-background;

    &__text {
        max-width: 60ch;
        & > *:not(:last-child) {
            margin-bottom: $spacing-xs;
        }
    }

    &__button-wrapper {
        display: flex;
        justify-content: center;
    }

    &__image {
        max-height: calc(80vh - $header-height);
        object-fit: cover;
        width: 100%;
    }
}

@media (min-width: $screen-md) {
    .about {
        flex-direction: row;

        &__button-wrapper {
            justify-content: flex-start;
        }
    }
}

@media (min-width: $screen-lg) {
    .about {
        padding: $spacing-xl;
        padding-bottom: $spacing-md;
        align-items: flex-end;

        &__image {
            max-height: none;
            width: 42 * $spacing;
        }
    }
}
