.about {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: $spacing-xs;
    padding: $spacing-xl;
    padding-bottom: $spacing-md;
    background: $color-background;

    &__text {
        max-width: 60ch;
        & > *:not(:last-child) {
            margin-bottom: $spacing-xs;
        }
    }

    &__image {
        width: 42 * $spacing;
    }
}
