.button-discrete {
    color: $color-text;
    background: none;
    border: none;
    text-decoration: underline;
    &:hover,
    &:focus {
        color: $color-bronze;
    }
}

.button-light,
.button-dark,
.button-colored {
    font-size: 1.5 * $spacing;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: $spacing 4 * $spacing;
}

.button-light {
    background-color: $color-background;
    color: $color-text;
    &:hover,
    &:focus {
        background-color: $color-bronze;
        color: $color-white;
    }
}

.button-dark {
    background-color: $color-black;
    color: $color-white;
    &:hover,
    &:focus {
        background-color: $color-bronze;
        color: $color-white;
    }
}

.button-colored {
    background-color: $color-bronze;
    color: $color-white;
    &:hover,
    &:focus {
        background-color: $color-black;
        color: $color-white;
    }
}
