$spacing: 0.5rem;

$header-height: 8 * $spacing;

$spacing-xxs: 2 * $spacing;
$spacing-xs: 3 * $spacing;
$spacing-sm: 4 * $spacing;
$spacing-md: 6 * $spacing;
$spacing-lg: 8 * $spacing;
$spacing-xl: 12 * $spacing;
