.testimonials {
    padding: 0 12 * $spacing;
    width: 100%;
}

.testimonial {
    position: sticky;
    top: $header-height;
    display: flex;
    align-items: flex-end;
    gap: 3 * $spacing;
    padding-top: 12 * $spacing;
    padding-bottom: 6 * $spacing;
    background: $color-background;

    &__text {
        position: relative;
        max-width: 60ch;
    }

    &__title {
        margin-bottom: 3 * $spacing;
    }

    &__quote-icon {
        width: 3 * $spacing;
        position: absolute;
        transform: translateX(-150%);
    }

    &__image {
        width: 42 * $spacing;
    }
}
