.about-practice {
    padding: $spacing-xs $spacing-sm;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-sm;
    text-align: center;
    & > * {
        max-width: 140 * $spacing;
    }
    &__keywords {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: $screen-lg) {
    .about-practice {
        padding: 0 $spacing-lg;
        gap: $spacing-md;
        max-width: none;
        &__keywords {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 12 * $spacing;
        }
    }
}
