.body {
    background-color: $color-beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $header-height;
    & > * {
        scroll-margin-top: $header-height;
    }
}
